 {% load static %}
 <!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/instagram/Diseno_sin_titulo_1.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/instagram/Diseno_sin_titulo_2.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/instagram/Diseno_sin_titulo_3_vUrJ4Tn.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/instagram/Diseno_sin_titulo_3.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/Instagram/Diseno_sin_titulo_4_7mqDcBo.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/Instagram/Diseno_sin_titulo_8.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/Instagram/Diseno_sin_titulo.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/Instagram/Diseno_sin_titulo_7.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
            <!-- Single Instagram Item -->
                <div class="single-instagram-item">
                    <img src="{% static 'core/img/Instagram/Diseno_sin_titulo_5.jpg' %}" alt="">
                    <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                        <a href="https://www.instagram.com/jhonfmg" target="_blank">
                            <i class="ti-instagram" aria-hidden="true"></i>
                            <span>Jhon Mármol</span>
                        </a>
                    </div>
                </div>
        </div>